### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
unique_players = len(purchase_data["SN"].unique())

total_players = pd.DataFrame({"Total Players":[unique_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

item_summary = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price], 
    "Number of Purchases": [total_purchases], 
    "Total Revenue": [total_revenue]})
item_summary.style.format({
    "Average Price":"${:,.2f}",
    "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_group = purchase_data.groupby("Gender")
total_players_gender = gender_group["SN"].nunique()
percentage_of_players = (total_players_gender / unique_players) * 100
gender_demographics = pd.DataFrame({"Total Count": total_players_gender, 
    "Percentage of Players": percentage_of_players})
gender_demographics.index.name = "Gender"
gender_demographics.sort_values(["Total Count"], ascending = False).style.format(
    {"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count = gender_group["Purchase ID"].count()
average_purchase_price = gender_group["Price"].mean()
total_purchase_value = gender_group["Price"].sum()
average_purchase_per_person = total_purchase_value / total_players_gender

gender_demographics = pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Average Purchase Price": average_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": average_purchase_per_person})

gender_demographics.index.name = "Gender"
gender_demographics.style.format({
    "Total Purchase Value":"${:,.2f}",
    "Average Purchase Price":"${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_group_names)

age_group = purchase_data.groupby("Age Group")
total_count_age = age_group["SN"].nunique() 
percentage_age = (total_count_age / unique_players) * 100

age_demographics = pd.DataFrame({
    "Total Count": total_count_age, 
    "Percentage of Players": percentage_age})

age_demographics.index.name = "Age"
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_count_age = age_group["Purchase ID"].count()
average_purchase_price_age = age_group["Price"].mean()
total_purchase_value_age = age_group["Price"].sum()
average_purchase_per_person_age = total_purchase_value_age / total_count_age

age_demographics = pd.DataFrame({
    "Purchase Count": purchase_count_age,
    "Average Purchase Price": average_purchase_price_age,
    "Total Purchase Value":total_purchase_value_age,
    "Avg Total Purchase per Person": average_purchase_per_person_age})

age_demographics.index.name = "Age Ranges"
age_demographics.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender_group = purchase_data.groupby("SN")
purchase_count_spender = spender_group["Purchase ID"].count()
average_purchase_price_spender = spender_group["Price"].mean()
total_purchase_spender = spender_group["Price"].sum()

top_spenders = pd.DataFrame({
    "Purchase Count": purchase_count_spender,
    "Average Purchase Price": average_purchase_price_spender,
    "Total Purchase Value":total_purchase_spender})

top_spenders_ascend = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_ascend.style.format({
    "Average Purchase Price":"${:,.2f}", 
    "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_id_group = item_df.groupby(["Item ID","Item Name"])
purchase_count_item = item_id_group["Price"].count()
total_purchase_value = (item_id_group["Price"].sum())
item_price = total_purchase_value / purchase_count_item

most_popular_items = pd.DataFrame({
    "Purchase Count": purchase_count_item, 
    "Item Price": item_price,
    "Total Purchase Value": total_purchase_value})

popular_ascend = most_popular_items.sort_values(
    ["Purchase Count"], ascending=False).head()
popular_ascend.style.format({
    "Item Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_profitable_descend = most_popular_items.sort_values(["Total Purchase Value"],
                                                ascending=False).head()
most_profitable_descend.style.format({
    "Item Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"})

While male players make up the majority of the gender demographic, the average purchase price of males is lower than that of female or other/non-disclosed players. A side note is that the average purchase price difference is within $0.50 or 9.12 percent of the highest average purchase price for females. With the majority of players being male, the total purchase value of males vastly exceeds that of females and other/non-disclosed players.

The majority of players are between the ages 20-24, which holds the highest total purchase value by age. The highest average purchase prices are held by age groups <10 and 35-39; however, the decreased sample size could be skewing this as these age groups have some of the fewest players. 

The highest purchase value and purchase count of items is Oathbreaker, Last Hope of the Breaking Storm, indicating that this is the most popular and profitable item despite the highest average item price falling under the item Nirvana.